.author
{
    width: 500px;
    margin: 75px auto;
    padding: 30px;
    border: 3px lightgrey solid;
}
.special
{
    width: 1000px;
    margin: 75px auto;
    padding: 30px;
    border: 3px lightgrey solid;
}